.container-fluid{
    .rcgc-formcontainer {
        background-color:#cbdaef; 
        border-top: #0b1626 solid 40px; 
        border-left: #0b1626 solid 1px;
        border-right: #0b1626 solid 1px; 
        border-bottom: #0b1626 solid 1px; 
        border-radius: 4px; 
        padding-top: 10px;
    }
    .rcgc-btn {
        width: 200px;
        color: $white;
        background-color: $dark_slate_grey;
        border-color: $pastel_grey;
        margin-bottom: 10px;
    }
    .container{
        padding: 30px;
    }
    div.row{
        &.flex{
            display: flex;
            flex-direction: column;
            div.col-md-4 {
                @media screen and (min-width: 768px) and (max-width: 1359px) {
                    width: 45%;
                }
                @media screen and (min-width: 1360px)  and (max-width: 1900px) {
                    width: 33%;
                }
                @media screen and (min-width: 1901px) {
                    width: 25%;
                }
            }
            div.thumbnail{
                position: relative;
                padding: 0;
                .caption{
                    min-height: 33vh;
                }
                img{
                    padding-top: 0;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                ul + div, h5 + div{
                    position: absolute;
                    bottom: 1.0em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    p{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        &.dt-fdr {  
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
        }
        &.dt-fw {
            @media screen and (min-width: 768px) {
                flex-wrap: wrap;
            }
        }
        &.aic {
            align-items: center;
        }
        &.jcc {
            justify-content: center;
        }
        div.thumnail {
            flex: 1;
            @media screen and (min-width: 768px) {
                width: 25%;
                min-height: 400px;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .container-fluid{
        div.row{
            &.flex{
                display: flex;
                flex-direction: row;
                div.col-md-4{
                    display: flex;
                    div.thumbnail{
                        position: relative;
                        padding: 0;
                        min-height: 700px;
                        img{
                            padding-top: 0;
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                        }
                        ul + div, h5 + div{
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}