.container-fluid, .container{
    &.xl {
        @media screen and (min-width: $widescreen){
            width: 1270px;
        }
    }
    @import 'mc-images';
    .rcgc-formcontainer {
        background-color:#cbdaef; 
        border-top: #0b1626 solid 40px; 
        border-left: #0b1626 solid 1px;
        border-right: #0b1626 solid 1px; 
        border-bottom: #0b1626 solid 1px; 
        border-radius: 4px; 
        padding-top: 10px;
    }
    .rcgc-btn {
        width: 200px;
        color: $white;
        background-color: $dark_slate_grey;
        border-color: $pastel_grey;
        margin-bottom: 10px;
    }
    .container:not(#main-body){
        padding: 30px;
    }

    div.row{
        &.flex, div.ms-WPBody>div{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            
            &.program{
                div.col-md-4 {
                    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
                        width: 97.5%;
                    }
                    @media screen and (min-width: $desktop) and (max-width: $desktop + 179) {
                        width: 80.5%;
                    }
                    @media screen and (min-width: $desktop + 180) and (max-width: $ultrawide){
                        width: 50%;
                    }
                }
            }
            &.col-md-4-cont-nopd , div.ms-WPBody>div{
                > div.col-md-4 {
                    @media screen and (max-width: $desktop - 1) {
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
            }
            div.col-md-4 {
                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
                @media screen and (min-width: $tablet) {
                    width: 50%;
                    max-width: 465px;
                }
            }
            
            div.thumbnail{
                position: relative;
                padding: 0;
                border-radius: 2px;
                border-right: 0px;
                border-top: 0px;
                border-left: 0px;
                border-bottom: 0.25px solid rgba(0,0,0,0);
                box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16), 0 0 1px 1px rgba(0,0,0,0.08);
                .caption{
                    margin-bottom: 85px;
                }
                img{
                    padding-top: 0;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
                .action_buttons{
                    position: absolute;
                    bottom: 1.0em;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;  
                    width: calc(100% - 9px);
                    p{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }
                }
            }
        }
        &.dt-fdr, div.ms-WPBody>div {  
            @media screen and (min-width: $tablet) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row; 
            }
        }
        &.dt-fw, div.ms-WPBody>div {
            @media screen and (min-width: $tablet) {
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
        }
        &.aic{
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        &.jcc, div.ms-WPBody>div {
            // All in fallback
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        div.thumnail {
            flex: 1;
            @media screen and (min-width: $tablet) {
                width: 25%;
                min-height: 400px;
            }
            @media screen and (max-width: $tablet - 1) {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: $tablet){
    .container-fluid, .container{
        div.row{
            &.flex, div.ms-WPBody>div{
                display: -webkit-box !important;
                display: -webkit-flex !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                div.col-md-4{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    div.thumbnail{
                        position: relative;
                        padding: 0;
                        img{
                            padding-top: 0;
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                        }
                        .action_buttons{
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}