body {
    min-height: 100vh;
    overflow: auto;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        line-height: 1.1 !important;
    }
}
.embed{
    background-color: transparent !important;
}
.t-center {
    text-align: center;
}