section.tile{
    position: relative;
    margin: 2ch 0;
    &.bxsh {
        box-shadow: 0 2px 3px 1px rgba(0,0,0,0.16), 0 0 1px 1px rgba(0,0,0,0.08);
        // box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.08);
    }
    &.t\:flex{
        @media screen and (min-width: $tablet){
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
    }
    &.m\:flex{
        @media screen and (max-width: $tablet - 1){
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            &.m\:fxdc {
                flex-direction: column;
            }
        }
    }
    &.w-full{
        width: 100%;
    }
    .bs-1 {
        border: solid 1px;
        border-color: #dae1e7;
    }
    .brn {
        border-right: 0px;
    }
    .tile-thumbnail{
        position: relative;
        height: 100%;
        overflow: hidden;
        background: #e6e6e6;
        // width: initial;
        @import 'partial-flex';
        img {
            height: 100%;
            width: auto;
            margin: 0 auto;
            &.winit {
                width: initial;
            }
        }
        &.fr{
            float: right;
        }
        &.fl{
            float: left;
        }
        @import 'partial-border-radius-sm';   
    }
    .tile-body{
        flex: 1;
        border: solid 1px;
        border-color: #dae1e7;
        &.pd-sm{
            padding: 1.5rem;
        }
        &.bln {
            border-left: 0px;
        }
        &.brn {
            border-right: 0px;
        }
        @import 'partial-border-radius-sm';
        @import 'partial-display';
    }
    @import 'partial-border-radius-sm';
}