a {
    &:link{@include constant-links(white);}
    &:visited{@include constant-links(white);}
    &:hover{@include constant-links($harvest_gold);}
    &:active{@include constant-links(white);}
    &.link{color: $tufts_blue;}
    .button{
        @include constant-links(white);
        background-color: $eerie_black;
        &:hover{padding:3px;}
    }
    .business{
        @include constant-states(white);

    }
    &.transferlinks{
        @include constant-states($eerie_black);
    }
    .dropdown{
        @include constant-links(white);
        &:visited{@include constant-links(white);}
        &:hover{@include constant-links(black);}
        &:active{@include constant-links(black);}
    }
    &.business{
        @include constant-links(white);
        &:visited{
            @include constant-links(white);
        }
        &:active{
            @include constant-links(white);
        }
    }
}
.main-content-area, .container-fluid{
    h2{
        a{
            &.lite {
                color: #325d9a;
            }
            &.dark {
                color: #365278;
            }
        }
    }
    a {
        &:link{@include constant-links(#0072c6);}
        &:visited{@include constant-links(#0072c6);}
        &:hover{@include constant-links(#0072c6);}
        &:active{@include constant-links(#0072c6);}
        &.link{color: #0072c6;}
        .button{
            @include constant-links(#0072c6);
            background-color: #0072c6;
            &:hover{padding:3px;}
        }
        .business{
            @include constant-states(#0072c6);
        }
        &.transferlinks{
            @include constant-states(#0072c6);
        }
        .dropdown{
            @include constant-links(#0072c6);
            &:visited{@include constant-links(#0072c6);}
            &:hover{@include constant-links(#0072c6);}
            &:active{@include constant-links(#0072c6);}
        }
        &.business{
            @include constant-links(#0072c6);
            &:visited{
                @include constant-links(#0072c6);
            }
            &:active{
                @include constant-links(#0072c6);
            }
        }
    }
    aside {
        @media screen and (min-width: $tablet) and (max-width: $desktop + 179) {
            float: left;
            width: 220px;
            padding-right: 20px;
        }
        @media screen and (min-width: $desktop + 180){
            float: left;
            width: 340px;
            padding-right: 20px;
        }

        &.non-secondary{
            @media screen and (max-width: $tablet - 1) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        &.right{
            // -webkit-box-ordinal-group: 3;
            // -webkit-order: 2;
            // -ms-flex-order: 2;
            // order: 2;
            @media screen and (min-width: $tablet) and (max-width: $desktop + 179) {
                float: right;
                width: 220px;
                padding-right: 20px;
            }
            @media screen and (min-width: $desktop + 180){
                float: right;
                width: 340px;
                padding-right: 20px;
            }
        }
        section.wufoo {
            position: relative;
            border-radius: 2px;
            background: #edf0f2;
            margin-bottom: 1vmax;
            padding: 1.25ch;
        }
        &.font-fix{
            .side-bar-box-header {
                position: relative;
                background: #30496B;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23435978' fill-opacity='0.61' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");      
                min-height: 7ch;
                @media screen and (min-width: $tablet) {
                    min-height: calc(180px + 7ch);
                    max-height: 50ch;  
                }
                &:after{
                    color: #EBEDEF; 
                    height: 25px;
                    padding-top: 6px;
                }
                li {   
                    padding: 1ch;
                    border-bottom: none!important;
                    font-weight: normal;
                    position: absolute;
                    bottom: 0;
                    display: inline-block;
                    a { 
                        color: #fff !important;
                        text-transform: uppercase;
                        font-size: 1.8em;
                        display: inline-block;
                        text-align: center;
                        word-wrap: break-word;
                        font-weight: 600;
                    }
                }
                // &:before {
                //     font-family: fontAwesome;
                //     background-color: #90A7C0;
                //     display: block;
                //     content: '\f0c1';
                //     position: absolute;
                //     left: 1px;
                //     top: 0;
                //     padding: 6px 8px 8px 8px;
                //     height: 29px;
                //     color: #EFF1F2;
                // }
            }
            ul {
                width: auto;
                padding: 0;
                li:not(.head-link) {
                    background: #F1F3F5;
                    border-bottom: solid 1px #EBEEF0;
                    padding: 0.5ch;
                    padding-left: 1.2ch;
                    opacity: 0.95;
                    margin: 0 !important;
                    list-style: none;
                    font-size: 16px;
                    a {
                        color: #29568F;
                        &:hover {
                            color: #254150;
                        }
                    }
                    &:hover{
                        opacity: 1;
                        font-weight: 350;
                        position: relative; 
                        color: #1E2E43;
                        &:after{
                            content: none!important;
                        }
                    }
                }
            }
        }
    }
}

.rcgcheaderbutton {
    @include constant-links(white);
    background-color: $middle_green;
    border: none;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: $eerie_black;
    color: black;
    &:hover{
        @include constant-links(black);
        background-color: white;
    }
}
.dropdown1{
    ul.dropdown-menu{
        background-color:#2e3847;
        li {
            a {
                &:hover{
                    background-color: #5f708c;
                }
            }
        }
    }
}
