.cont-center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    &.md-aic{
        @media screen and (min-width: $tablet) {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}


.main-content-area {
    float: left;
    position: relative;
    font-size: 16px;
    padding: 2ch;
    @media screen and (min-width: $desktop + 180){
        min-width: 1150px;
    }
    @import 'mc-images';
    .main-content {
        @import 'mc-mobile';
        @import 'mc-tablet';
        @import 'mc-desktop';
        @import 'mc-typography';
        @import 'horizontal-tile';
    }
}