.responsive-image {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    @each $size in $slist {
        &.img-mah\:#{$size}{
            max-height: #{$size}px;
        }
    }
    &.mb{
        margin-bottom: 4ch;
    }
    img {
        width: 100%;
        height: auto;
        @each $size in $slist {
            &.img-mah\:#{$size}{
                max-height: #{$size}px;
            }
        } 
    }
}