&.btr-sm{
    border-top-right-radius: .25rem;
}
&.bbr-sm{
    border-bottom-right-radius:  .25rem;
}
&.btl-sm{
    border-top-left-radius: .25rem;
}
&.bbl-sm{
    border-bottom-left-radius:  .25rem;
}