$padding: 0;
$plist: top left bottom right;

@while ($padding < 120) {
    @each $direction in $plist {
        .p-#{$direction}\:#{$padding} {
            padding-#{$direction}: #{$padding}px;
        }
    }
    $padding: $padding + 5;
}