input[type=text]{
    &#fw-search {
        
        width: 30px;
        box-sizing: border-box;
        border-radius: 4px;
        border: none;
        font-size: 16px;
        background-color: rgba(255,255,255,0);
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        &:focus{
            width: 100vw;
            background: blue;
        }
    }
}