#main-body{
  div.ms-WPBody > div {
    display: flex;
  }   
}

#header-img-container{
  div.ms-webpartzone.ms-fullWidth {
    width: 100vw;
  }
}

#s4-workspace {
  overflow: unset;
  nav.navbar-inverse {
    position: -webkit-sticky;
    button {
      min-width: unset;
    }
  }
}