#main-body{
  div.ms-WPBody > div {
    display: flex;
  }
  .ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item{
    padding: 0.25ch 1ch;
  }   
}

#header-img-container{
  div.ms-webpartzone.ms-fullWidth {
    width: 100vw;
  }
}

#s4-workspace {
  overflow: unset;
  nav.navbar-inverse {
    position: -webkit-sticky;
    button {
      min-width: unset;
    }
  }
}