section{
    &#img-responsive {
        margin-top: 108px;
        display: block;
        background: url(https://ucarecdn.com/6df31c4c-bb3e-4b5a-b363-5e86c9a7c8e8/-/progressive/yes/-/scale_crop/1600x600/);
        background-size: cover;
        background-position: center center;
        min-height: 45vh;
        max-height: 600px;
    }
}