div {
    .rcgc-topcontainer{
        padding-top: 0px;
        padding-bottom: 10px;

        .non-semantic-protector { 
          position: relative; z-index: 1; 
        }
    }
    
    .texture2 {
        background-color: $maastricht_blue;
    }
    
    .texture {
        background-image: url("https://www.transparenttextures.com/patterns/white-wave.png");
    }
    .rcgc-transfer {
        padding: 0px; 
        margin-top: -70px; 
        margin-bottom: -70px;
    }
    .rcgc-graycontainer {
        background-color: lightgray;    
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .rcgc-whitecontainer {
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}