/* RCGC Links CSS */
/* CSS Document */

/* Unvisited link */
a:link {
	color:#DCA400;
	text-decoration:none;
}

/* Visited Link */
a:visited {
	color:#DCA400;
	text-decoration:none;
}

/* Hover link */
a:hover {
	color:#DCA400;
	text-decoration:underline;
}

/* Selected link */
a:active {
	color:#DCA400;
	text-decoration:underline;
}

a.link {
	color:#337ab7;
}