a:link {
	color:white;
	text-decoration:none;
}

a:visited {
	color:white;
	text-decoration:none;
}

a:hover {
	color:#DCA400;
	text-decoration:none;
}

a:active {
	color:white;
	text-decoration:underline;
}

a.link {
	color:#337ab7;
}

a.button {
	background-color:#0b1626;
	color:white;
	text-decoration:none;
}

a.button:hover{
	background-color:#0b1626;
	text-decoration:none;
	padding:3px;
	
}

a.business {
	color:white;
	text-decoration:none;
}

a.business:visited {
	color:white;
	text-decoration:none;
}

a.business:hover {
	color:white;
	text-decoration:none;
}

a.business:active {
	color:white;
	text-decoration:none;
}

a.transferlinks {
	color:#0b1626;
	text-decoration:none;
}

a.transferlinks:visited {
	color:#0b1626;
	text-decoration:none;
}

a.transferlinks:hover{
	color:#0b1626;
	text-decoration:none;
}

a.transferlinks:active {
	color:#0b1626;
	text-decoration:none;
}

a.dropdown {
	color:white;
	text-decoration:none;
}

a.dropdown:visited {
	color:white;
	text-decoration:none;
}

a.dropdown:hover{
	color:black;
	text-decoration: none;
}

a.dropdown:active{
	color:black;
	text-decoration:none;
}

/* Fade Effect */

.rcgcheaderbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: #0b1626;
    color: black;
}

.button5:hover{
    background-color: white;
    color: black;
	text-decoration:none;
	
}

