/*********************************************
	-	SETTINGS FOR BANNER 	-
**********************************************/

.tp-slide-img{
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	padding:0;
}



